In [2]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [16]:
data = pd.read_csv('/Users/arthurrastelli/Desktop/Assignment/Assignment.csv')
data = data.rename(columns= {'duree': 'expo','nbrtotan': 'freq','nbrtotc': 'nclaims'})
data["sev"] = data['chargtot']/data['freq']
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163657 entries, 0 to 163656
Data columns (total 17 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   AGEPH     163657 non-null  int64
 1   CODPOSS   163657 non-null  int64
 2   expo      163657 non-null  float64
 3   lnexpo    163657 non-null  float64
 4   nclaims   163657 non-null  int64
 5   freq      163657 non-null  float64
 6   chargtot  163657 non-null  float64
 7   agecar    163657 non-null  object
 8   sexp      163657 non-null  object
 9   fuelc     163657 non-null  object
 10  split     163657 non-null  object
 11  usec      163657 non-null  object
 12  fleetc    163657 non-null  object
 13  sportc    163657 non-null  object
 14  coverp    163657 non-null  object
 15  powerc    163657 non-null  object
 16  sev       18345 non-null   float64
dtypes: float64(5), int64(3), object(9)
memory usage: 21.2+ MB

,AGEPH,CODPOSS,expo,lnexpo,nclaims,freq,chargtot,agecar,sexp,fuelc,split,usec,fleetc,sportc,coverp,powerc,sev
0,64,1000,1.000000,0.000000,0,0.000000,0.000000,2-5,Female,Petrol,Once,Private,No,No,MTPL+,66-110,NaN
1,28,1000,0.046575,-3.066684,1,21.470588,155.974606,6-10,Female,Petrol,Twice,Private,No,No,MTPL,66-110,7.264571
2,58,1000,0.402740,-0.909465,0,0.000000,0.000000,>10,Female,Petrol,Thrice,Private,No,No,MTPL,<66,NaN
3,37,1030,0.169863,-1.772763,0,0.000000,0.000000,2-5,Female,Petrol,Once,Professional,No,No,MTPL+++,66-110,NaN
4,29,1030,1.000000,0.000000,0,0.000000,0.000000,6-10,Female,Petrol,Once,Private,No,No,MTPL+,<66,NaN

Bin CODPOSS

In [18]:
def categorize_postal_code(code):
    if 1000 <= code <= 1299:
        return 'BHG'
    elif 1300 <= code <= 1499:
        return 'WB'
    elif 1500 <= code <= 1999 or 3000 <= code <= 3499:
        return 'VB'
    elif 2000 <= code <= 2999:
        return 'ANT'
    elif 3500 <= code <= 3999:
        return 'LIM'
    elif 4000 <= code <= 4999:
        return 'LUI'
    elif 5000 <= code <= 5999:
        return 'NAM'
    elif 6000 <= code <= 6599 or 7000 <= code <= 7999:
        return 'HEN'
    elif 6600 <= code <= 6999:
        return 'LUX'
    elif 8000 <= code <= 8999:
        return 'WV'
    elif 9000 <= code <= 9999:
        return 'OV'
    else:
        return 'Unknown'
    
data['region'] = data['CODPOSS'].apply(categorize_postal_code)
data

,AGEPH,CODPOSS,expo,lnexpo,nclaims,freq,chargtot,agecar,sexp,fuelc,split,usec,fleetc,sportc,coverp,powerc,sev,region
0,64,1000,1.000000,0.000000,0,0.000000,0.000000,2-5,Female,Petrol,Once,Private,No,No,MTPL+,66-110,NaN,BHG
1,28,1000,0.046575,-3.066684,1,21.470588,155.974606,6-10,Female,Petrol,Twice,Private,No,No,MTPL,66-110,7.264571,BHG
2,58,1000,0.402740,-0.909465,0,0.000000,0.000000,>10,Female,Petrol,Thrice,Private,No,No,MTPL,<66,NaN,BHG
3,37,1030,0.169863,-1.772763,0,0.000000,0.000000,2-5,Female,Petrol,Once,Professional,No,No,MTPL+++,66-110,NaN,BHG
4,29,1030,1.000000,0.000000,0,0.000000,0.000000,6-10,Female,Petrol,Once,Private,No,No,MTPL+,<66,NaN,BHG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163652,50,9960,1.000000,0.000000,0,0.000000,0.000000,2-5,Male,Petrol,Once,Private,No,No,MTPL+,<66,NaN,OV
163653,86,9960,1.000000,0.000000,0,0.000000,0.000000,6-10,Male,Petrol,Once,Private,No,No,MTPL,<66,NaN,OV
163654,64,9960,1.000000,0.000000,0,0.000000,0.000000,2-5,Male,Petrol,Twice,Private,No,No,MTPL,<66,NaN,OV
163655,58,9970,1.000000,0.000000,1,1.000000,3177.994988,>10,Male,Petrol,Once,Private,Yes,No,MTPL,<66,3177.994988,OV
163656,24,9990,1.000000,0.000000,2,2.000000,13818.229594,2-5,Male,Petrol,Once,Private,No,No,MTPL+++,<66,6909.114797,OV

In [58]:
X = data[['AGEPH','agecar', 'sexp','fuelc','split','usec','fleetc','sportc','coverp','powerc','region','expo']]
Y = data['freq']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
train = pd.concat([y_train,X_train],axis=1)

GENERALIZED LINEAR MODELS: FREQUENCY

In [40]:
formula = '''
freq ~
AGEPH + 
C(agecar, Treatment(reference="6-10")) + 
C(sexp, Treatment(reference="Male")) + 
C(fuelc, Treatment(reference="Petrol")) + 
C(split, Treatment(reference="Once")) + 
C(usec, Treatment(reference="Private")) + 
C(fleetc, Treatment(reference="No")) + 
C(sportc, Treatment(reference="No")) + 
C(powerc, Treatment(reference="<66")) +
C(region, Treatment(reference="HEN"))
'''

In [59]:
glm_fit = smf.glm(formula=formula, data=data, exposure=data['expo'], family = sm.families.Poisson(link=sm.families.links.log())).fit()
print(glm_fit.summary())

/opt/anaconda3/lib/python3.11/site-packages/statsmodels/genmod/families/links.py:13: FutureWarning: The log link alias is deprecated. Use Log instead. The log link alias will be removed after the 0.15.0 release.
  warnings.warn(

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                   freq   No. Observations:               163657
Model:                            GLM   Df Residuals:                   163632
Model Family:                 Poisson   Df Model:                           24
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -91817.
Date:                Mon, 20 May 2024   Deviance:                   1.4391e+05
Time:                        18:03:45   Pearson chi2:                 5.98e+07
No. Iterations:                     7   Pseudo R-squ. (CS):            0.02750
Covariance Type:            nonrobust
===========================================================================================================================
                                                              coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------
Intercept                                                  -1.3102      0.031    -42.490      0.000      -1.371      -1.250
C(agecar, Treatment(reference="6-10"))[T.0-1]               0.1492      0.028      5.266      0.000       0.094       0.205
C(agecar, Treatment(reference="6-10"))[T.2-5]              -0.1605      0.016    -10.352      0.000      -0.191      -0.130
C(agecar, Treatment(reference="6-10"))[T.>10]               0.1612      0.016     10.170      0.000       0.130       0.192
C(sexp, Treatment(reference="Male"))[T.Female]              0.0821      0.014      5.808      0.000       0.054       0.110
C(fuelc, Treatment(reference="Petrol"))[T.Gasoil]           0.1807      0.014     13.204      0.000       0.154       0.208
C(split, Treatment(reference="Once"))[T.Monthly]            0.4866      0.018     26.421      0.000       0.450       0.523
C(split, Treatment(reference="Once"))[T.Thrice]             0.4523      0.022     20.640      0.000       0.409       0.495
C(split, Treatment(reference="Once"))[T.Twice]              0.1530      0.016      9.570      0.000       0.122       0.184
C(usec, Treatment(reference="Private"))[T.Professional]     0.0236      0.029      0.807      0.420      -0.034       0.081
C(fleetc, Treatment(reference="No"))[T.Yes]                -0.2080      0.041     -5.114      0.000      -0.288      -0.128
C(sportc, Treatment(reference="No"))[T.Yes]                 0.1953      0.060      3.235      0.001       0.077       0.314
C(powerc, Treatment(reference="<66"))[T.66-110]             0.0955      0.015      6.404      0.000       0.066       0.125
C(powerc, Treatment(reference="<66"))[T.>110]               0.1666      0.064      2.597      0.009       0.041       0.292
C(region, Treatment(reference="HEN"))[T.ANT]               -0.0360      0.023     -1.537      0.124      -0.082       0.010
C(region, Treatment(reference="HEN"))[T.BHG]                0.5918      0.024     24.760      0.000       0.545       0.639
C(region, Treatment(reference="HEN"))[T.LIM]               -0.1266      0.033     -3.886      0.000      -0.190      -0.063
C(region, Treatment(reference="HEN"))[T.LUI]               -0.0213      0.022     -0.969      0.333      -0.064       0.022
C(region, Treatment(reference="HEN"))[T.LUX]               -0.3667      0.050     -7.289      0.000      -0.465      -0.268
C(region, Treatment(reference="HEN"))[T.NAM]               -0.1488      0.032     -4.647      0.000      -0.212      -0.086
C(region, Treatment(reference="HEN"))[T.OV]                 0.1017      0.023      4.345      0.000       0.056       0.148
C(region, Treatment(reference="HEN"))[T.VB]                -0.0617      0.027     -2.313      0.021      -0.114      -0.009
C(region, Treatment(reference="HEN"))[T.WB]                 0.0260      0.034      0.772      0.440      -0.040       0.092
C(region, Treatment(reference="HEN"))[T.WV]                -0.0423      0.025     -1.690      0.091      -0.091       0.007
AGEPH                                                      -0.0156      0.000    -32.950      0.000      -0.017      -0.015
===========================================================================================================================

In [57]:
prediction = glm_fit.predict()

               0
0       0.270318
1       0.115502
2       0.137169
3       0.106088
4       0.108310
...          ...
130920  0.116771
130921  0.003994
130922  0.119703
130923  0.170417
130924  0.136604

[130925 rows x 1 columns]

In [60]:
diff = data['freq'] - prediction